<%- include('includes/head.ejs') %>   
    <div id="div_project_info">
        <div class="col s12">
            <div class="row">
                <% if(project.id) { %>
                    <h1>Project <%= project.id %></h1>
                <% }else{ %>
                    <h1>New Project</h1>
                <% } %>
            </div>  
            <div class="row">
                <h2><%= project.name %></h2>
            </div>
        </div>
    </div>

    <div id="div_control">
        <a class="btn waves-effect waves-light" href=<%= `/story/new/?id=${project.id}` %>><i class="material-icons right">create_new_folder</i>New Story</a>
        <!--form action=<%= `/story/new/?id=${project.id}` %> method="GET">
            <button class="btn waves-effect waves-light" type="submit" id="NewStoryBtn">New Story
                <i class="material-icons right">create_new_folder</i>
            </button>   
        </form-->
    </div>    

    <div id="div_project_tab">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#div_project_detail">Detail</a></li>
                <li class="tab col s3"><a href="#div_story_list">Story List</a></li>
                <li class="tab col s3"><a href="#div_user_list">User List</a></li>
                <li class="tab col s3"><a href="#div_wbs">WBS</a></li>
            </ul>
        </div>
   
        <div id="div_project_detail" class="col s12">
            <div class="row">
                <form class="col s12" id="form_project_detail" action="\project\" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="hidden" name="create_date" value="<%= project.create_date %>">
                    <input id="id" name="id" type="hidden" class="validate" value=<%= project.id %>>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" name="name" type="text" class="validate" value="<%= project.name %>">
                            <label for="name">name</label>
                            <span class="helper-text red-text" id="name_helper"></span>
                        </div>
                    </div>     
                    <div class="row">
                        <div class="input-field col s2">
                            <select name="state" id="state" value=<%= project.state %>>
                                <% for(option of state){ %>                                
                                    <option value=<%= option.id %> 
                                        <% if(project.state == option.id){ %> selected <% } %>><%= option.name %></option>
                                <%}%>
                            </select>
                            <label>State</label>                            
                        </div>
                    </div>                      
                    <div class="row">
                        <div class="input-field col s2">
                            <input id="est_date" name="est_date" type="text" class="datepicker" value="<%= project.est_date %>">
                            <label for="est_date">Estimated Finish Date</label>
                        </div>
                    </div>                         
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="description" name="description" type="text" class="validate" value="<%= project.description %>">
                            <label for="description">description</label>
                        </div>
                    </div>

                    <button class="btn waves-effect waves-light" type="button" name="SaveBtn" onclick="SaveBtnHandler();">Save
                        <i class="material-icons right">send</i>
                    </button>                            
                </form>
                
            </div>
        </div><!--End of Detail Div-->

        <div id="div_story_list" class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Story ID</th>
                        <th>Story Name</th>
                    </tr>
                </thead>

                <tbody>
                    <% for (let story of story_list) { %>
                        <tr>
                            <td><a href=<%= `/story/?id=${story.id}` %>><%= story.id %></a></td>
                            <td> <%= story.name %> </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div><!--End of story Div-->

        <div id="div_user_list" class="col s12">
            <form class="col s12" id="project_assign" action="\project\assign" method="POST">
                <input type="hidden" name="project_id" value="<%= project.id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <div class="row">
                    <div class="input-field col s4">
                        <select name="user_id" id="user_id" value='null'>
                            <% for(user of allnonull_user_list){ %>                                
                                <option value=<%= user.id %>
                                    <% if(user.id == 'null'){ %> selected <% } %>><%= user.name %></option>
                            <%}%>
                        </select>
                        <label>Assigned User</label>                            
                    </div>
                    <div class="input-field col s4">
                        <input id="hour" name="hour" type="number" class="validate" value=0>
                        <label for="hour">weekly hour</label>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn waves-effect waves-light" type="submit" name="AssignBtn" >assign
                            <i class="material-icons right">add_box</i>
                        </button>                      
                    </div>
                </div>
            </form>
            <table class="striped">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% for (let user of usernonull_list) { %>
                        <tr>
                            <td> <%= user.id %> </td>
                            <td> <%= user.name %> </td>
                            <td> <a class="btn waves-effect red" href=<%= `/project/unassign/?user_id=${user.id}&project_id=${project.id}` %>><i class="material-icons right">clear</i>Remove</a></td>
                        </tr>
                    <% } %>                    
                </tbody>
            </table>
        </div><!--End of User Div--> 
    
        <div id="div_wbs" class="col s12">
            <table class="striped">
                <% if(project.id != 0){ %>
                <thead>
                    <th>Story</th>
                    <th>Task</th>
                    <% for(let phase of phase_list){ %>
                        <th> <%= phase.name %> </th>
                    <% } %>
                </thead>

                <tbody>
                    <% for(let task of wbs){ %>
                        <tr>
                            <td><a href=<%= `/story/?id=${task.story_id}` %>> <%= task.story_id %> <%= task.story_name %> </a></td>
                            <td><a href=<%= `/task/?id=${task.task_id}` %>> <%= task.task_id %> <%= task.task_name %> </a></td>
                            <% for(let phase of phase_list){ %>
                                <% if(phase.id == task.phase_id){ %>
                                    <td>*<%= task.real_hour %>* </td>
                                <% }else{ %>
                                    <td></td>
                                <% } %>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
                <% } %>
            </table>
        </div><!--End of WBS-->

    </div><!--End of Tab div--> 
    

    <div id="div_control">

    </div>



    <%- include('includes/tail.ejs') %>
    <script type="text/javascript" src="/js/project.js"></script> 
    <%- include('includes/end.ejs') %>